/* body */
body{
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
    padding: 250px;
}
.top{
    font-size: 30px;
    font-weight: bold;
}

.link-btn{
    background-color: rgb(235, 42, 42);
    color: white;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
}

/* Donate section */
.donate{
    padding-top: 70px; 
}

.fund{
    text-align: center;
    font-size: 30px;
}
.message{
    color: rgb(110, 105, 105);
}
.amount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 30px;
}
#amount-1{
    border: 1px ;
    padding: 10px;
    font-size: 40px;
    height: 150px; 
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(110, 105, 105);
}
#amount-2{
    border: 1px solid rgb(206, 51, 51);
    padding: 10px;
    font-size: 40px;
    height: 150px; 
    width: 150px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    background-color: rgb(231, 163, 151);
}
#amount-3{
    border: 1px;
    padding: 10px;
    font-size: 40px;
    height: 150px; 
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(110, 105, 105);
}
#amount-4{
    border: 1px;
    padding: 10px;
    font-size: 40px;
    height: 150px; 
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(110, 105, 105);
}
#amount-5{
    border: 1px;
    padding: 10px;
    font-size: 40px;
    height: 150px; 
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(110, 105, 105);
}
.custom-amount{
    border-color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    border-style: hidden;
    padding-top: 50px;
}
.break{
    width: 70%;
}

/* donate Plan section */
.main{
    
    padding-top: 50px;
}

.plan{
    text-align: center;
    font-size: 30px;

}

.feature{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    width: 70%;
    column-gap: 50px;
    font-size: 20px;
}

.food{
    padding: 30px;
    height: 350px; 
    border-radius: 5px;
    background-color: rgb(215, 228, 223);
    border: hidden;
    width: 900px;
}

.shelter{
    padding: 30px;
    height: 350px; 
    border-radius: 5px;
    background-color: rgb(248, 223, 228);
    border: hidden;
    width: 900px;
}
.edu{
    padding: 30px;
    height: 350px; 
    border-radius: 5px;
    background-color: rgb(255, 249, 166);
    border: hidden;
    width: 900px;
}

/* Bonus task */
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 50px;
    background-color: coral;
    color: white;
    font-size: 25px;
    border-radius: 20px;
}
.company-details{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

/*Update section */
.update{
    text-align: center;
    font-size: 40px;
}
#mail-box{
    font-size: 34px; 
    border-color: rgb(255, 249, 166);
}
.registration{
    display: flex;
    border:1px solid;
    padding: 100px;
    border-radius: 5px;
    background-color: rgb(255, 249, 166);
    margin-left: 250px;
    margin-right: 250px;
    border: hidden;
 
}

/* footer */
.copyright{
    background-color: black;
    height: 150px;
    color: white;
    text-align: center;
    font-size: larger;
}
.custom-clr{
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(196, 43, 43);
    padding-top: 30px;
    margin-bottom: -15px;
}
